.page {
}

::deep .paper {
    padding: 16px;
}

::deep .opening-time-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

::deep .opening-time-list-item > * {
    margin: 0px 4px 0px 4px;
}
