.page {
}

/* AutoComplete의 라벨을 표시하기 위한 마진을 제거한다*/
::deep .mud-input > input.mud-input-root.mud-input-root-filled {
    padding: 10px 12px 10px 12px;
}

/* AutoComplete Icon 마진 제거 */
::deep .mud-input-adornment-start.mud-input-root-filled-shrink
{
    margin-top:0px;
}

::deep .search-container {
    margin-top: 100px;
}

::deep .address-line {
    display: flex;
    flex-direction: row;
}

::deep .search-line {
    display: flex;
    flex-direction: row;
}

::deep .list-item {
    border: 1px solid #dddddd;
    margin-top: 1px;
    margin-bottom: 1px;
    padding-top: 0px;
    padding-bottom: 0px;
}

::deep .flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

::deep .right-margin {
    margin-right: 20px;
}
