::deep .container {
    margin: 12px 0px 12px 0px;
}
::deep .container.last{
    padding-bottom: 40px;
}

::deep .toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:4px;
}

::deep .divider {
    margin: 0px 0px 12px 0px;
}

::deep .button {
    margin-left:4px;
}