@using Bridge.WebApp.Services.Identity
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @if (_authenticated)
                    {
                        <NoPermission />
                    }
                    else
                    {
                        <RedirectToLogin />
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

@code {
    private bool _authenticated;

    [Inject]
    public IAuthService AuthService { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthService.GetAuthStateAsync();
        _authenticated = authState.IsAuthenticated;
    }

}