@using Bridge.WebApp.Services

<MudDialog>
    <DialogContent>
        <div style="display:flex; flex-direction:row;">
            <MudButton Color="Color.Tertiary"
                       Variant="Variant.Text"
                       StartIcon="@Icons.Material.Filled.ArrowBack"
                       OnClick="Cancel_ClickAsync"></MudButton>
            <MudButton Style="flex: 1 1 auto;" Color="Color.Primary" Variant="Variant.Filled" OnClick="Ok_ClickAsync">이 위치에서 검색</MudButton>
        </div>
        <MudText Typo="Typo.subtitle1" Align="Align.Center" Color="Color.Info">
            @Address
        </MudText>
        <div id="@MapId" style="width:600px; height:600px;">
        </div>
    </DialogContent>
</MudDialog>