.page {
    width: 100%;
    height: 100%;
    /*position: relative;*/
}

/* AutoComplete의 라벨을 표시하기 위한 마진을 제거한다*/
::deep .mud-input > input.mud-input-root.mud-input-root-filled {
    padding: 10px 12px 10px 12px;
}

/* AutoComplete Icon 마진 제거 */
::deep .mud-input-adornment-start.mud-input-root-filled-shrink
{
    margin-top:0px;
}

::deep .search-container {
    width: 100%;
    height: 40vh;
    padding: 8px;
    background: white;
    display: flex;
    flex-direction: column;
}

::deep .address-line {
    display: flex;
    flex-direction: row;
}

::deep .search-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 4px;
    border: solid;
    border-width: 1px;
    border-radius: 8px;
    border-color: #dddddd;
}

::deep .search-result {
    height: calc(40vh - 80px);
}

    ::deep .search-result .place-result-list {
        overflow-y: auto;
        height: 100%;
    }

::deep .place-list {
    overflow-y: auto; 
    flex:1 1 auto;
}

::deep .list-item {
    border: 1px solid #dddddd;
    margin-top: 1px;
    margin-bottom: 1px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 4px;
    padding-right: 4px;
}

::deep .place-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

::deep .place-list-item .flex-r {
    display: flex;
    flex-direction: row;
    align-items: center;
}

::deep .place-list-item .right-margin {
    margin-right: 20px;
}

::deep .place-list-item .text-nowrap {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}