@page "/"

<PageTitle>브릿지</PageTitle>


<div class="page">
    <MudContainer>
        <MudAutocomplete Placeholder="검색어를 입력하세요"
                         T="string"
                         Adornment="Adornment.End"
                         AdornmentIcon="@Icons.Material.Filled.Search"
                         Variant="Variant.Filled" />
    </MudContainer>
</div>