@using Bridge.WebApp.Pages
@inherits LayoutComponentBase

<PageTitle>플차</PageTitle>

<MudThemeProvider />
<MudSnackbarProvider />
<MudDialogProvider CloseButton="true" DisableBackdropClick="true" NoHeader="false" CloseOnEscapeKey="true" />
<div class="main-layout">
    <MudLayout>
        <main>
            @Body
        </main>
    </MudLayout>
</div>
